<div class="container Navbar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/"
          >Registration</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Registrations">Registrations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/FeesStructure">Fees Structure</a>
      </li>
    </ul>
  </div>
  <hr class="container" />